@model CarrinhoCompraViewModel

<div class="container">
    <div class="row">
        
        <img src="~/images/Full-Cart-icon.png"/>

        <div>
            <h4>Seu carrinho de compras: </h4>
            
            <table class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <th>Quantidade</th>
                        <th>Lanche</th>
                        <th class="text-right">Preço</th>
                        <th class="text-right">Subtotal</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody> 
                    @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItens)
                    {
                        <tr>
                            <td></td>  
                        </tr>
                    }
                </tbody>

            </table>
        
        </div>

    </div>
</div>