<br />
<img src="~/images/negado1.jpg" alt="Área de Administração" class="marginTop1" />
<div class="container">
	<div class="jumbotron">
		<p>
			<h2>Acesso não autorizado!!</h2>
		</p>
		<a asp-area="" asp-controller="Home" asp-action="Index">Voltar a Home Page</a>
	</div>
</div>