<div class="container">
    <img src="~/images/faleconosco1.jpg" alt="Fale Connosco" />
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale connosco
        </p>
        <p>
            <span>
                <img src="~/images/Envelope-icon24.png" />
            </span>
            <h5><email endereco="pedrojosuediogo@gmail.com" conteudo="Enviar um e-mail"></email></h5>
            <br/>
            <span>
                <img src="~/images/phone-app-icon.png" />
            </span>
            <h5>+244 936567947</h5>
            <br/>
            <span>
                <img src="~/images/Home-iconred.png" />
            </span>
            <h5>Angola, Luanda - Rua comandante Ivadi, Kilamba Kiaxi</h5>
        </p>
    </div>
</div>