<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="RelatorioVendasSimples">
            <fieldset>
                <legend></legend>
            </fieldset>
        </form>
    </div>
</div>